.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: repeat(6, minmax(100px, auto)); 
    gap: 10px; 
}

.child1 {
    grid-column: 1 / 13; 
    grid-row: 1 / 2;
    background-color: #131921;
    display: flex;
    align-items: center; 
    height: 70px; 
}

.child2 {
    grid-column: 1 / 13; 
    grid-row: 2 / 3;
    background-color: aliceblue;
    height: 50px; 
}

.child3 {
    grid-column: 1 / 13;
    grid-row: 3 / 4;
    background-color: aliceblue;
    height: auto; 
}

.child4 {
    grid-column: 1 / 13;
    grid-row: 4 / 6;
    background-color: aquamarine;
}

.child111 > img {
    height: auto;
    width: 120px; /* Limit width */
}

.child41 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    gap: 10px; 
}

.child411, .child412, .child413, .child414 {
    border: 1px solid red;
}

